<div class="main-container d-flex align-items-center justify-content-center">
  <div class="login-container">
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
          <%= form.label :name %><br/>
          <%= form.text_field :name, class: 'form-control'%>
      </div>

      <div class="actions">
        <%= form.submit "Sign Up", class: "btn btn-primary mt-2"%>
      </div>
    <% end %>
  </div>
</div>
