<h1>Show page</h1>
<h1>Events history</h1>
<h4>Events you created: <%= events_created.count %></h4>
<% events_created.order('created_at DESC').each do |event| %>
  <%= link_to event_path(event) do %>
    <div>
      <p>Event Description: <%= event.description %></p>
    </div>
    <div>
      <p>Event Date: <%= event.date %></p>
    </div>
  <% end %>
<% end %>
<h4>upcoming Events:<%= events_attendance.where('date>?', Time.now).count %></h4>
<%= events_attendance.where('date>?', Time.now).count %>
  <% events_attendance.where('date>?', Time.now).each do |event| %>
    <%= link_to event_path(event) do %>
      <p>Event Description:- <%= event.description %></p>
      <p>Event Date:- <%= event.date %></p>
      <% user_attending?(event.id).each do |button| %>
        <%= button %>
      <% end %>
    <% end %>
  <% end %>
  

<h4>Previously attended events:<%= events_attendance.where('date<?', Time.now).count %></h4>

  <% events_attendance.where('date<?', Time.now).each do |event| %>
    <%= link_to event_path(event) %>
      <p>Event Description:- <%= event.description %></p>
      <p>Event Date:- <%= event.date %></p>
  <% end %>  


